# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build / distribution
# =========================
build/
dist/
*.spec

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Excel / attendance data
# =========================
*.xlsx
*.xls

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/